<div class="container-fluid chat-container">
    <div class="row chat-row">
        <div class="col-xs-2 well chat-sidebar">
            <p><i class="fa fa-weixin fa-fw"></i>&nbsp; Sidechat</p>
            <div class="channel-container">
                <p><i class="fa fa-comments fa-fw"></i>&nbsp; Channels</p>
            </div>
            <div class="users-container">
                <p><i class="fa fa-user fa-fw"></i>&nbsp; Direct Messages</p>
            </div>
            <button type="button" class="btn btn-danger"><i class="fa fa-sign-out fa-fw"></i>&nbsp; Logout</button>
        </div>
        <div class="col-xs-10 messages-container">
            <div class="messages-window">
                <ul class="message-wrap">
                    <li class="message"><span class="user-identifier">saleh</span> hey whatsup guys</li>
                    <span class="timestamp"></span>
                </ul>
            </div>
            <form id="send-message">
                <div class="input-group">
                    <input id="message-text" autocompelete="off" autofocus>
                </div>
            </form>
        </div>
    </div>
</div>
