<style>
       body {
        padding-top: 80px;
        background: url('/images/grey.png') repeat;
    }
</style>
<div class="container">
        
        <!-- show any messages that come back with authentication -->
        {{#if message}}
            <div class="alert alert-danger">{{message}}</div>
        {{/if}}

        <!-- LOGIN FORM -->
        <form class="login-form" action="/signup" method="post">
            <h1><i class="fa fa-paper-plane fa-fw"></i>Signup</h1>
            <div class="form-group login-form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="username">
            </div>
            <div class="form-group login-form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group login-form-group">
                <label>Birthday</label>
                <input type="date" class="form-control" name="birthday">
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Signup</button>

            <hr>

            <p>Already have an account? <a href="/login">Login</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </form>

</div>